{% extends "design/responsivebase.html" %}

{% block content %}
<div class="card">
  <img class="card-img-top" src="/static/img/contact.jpg" alt="Card image cap">
  <div class="card-body">
    <p class="card-text">
        <hr>
        <div class="col text-center">
        <h4 class="lead">Email: SURYAprivatelimited@gmail.com</h4><br>
        <h4 class="lead">Phone: (760) 858 8185/756 7569</h4><br>
        <h4 class="lead">Address: 20 Cooper Square, New York, NY 10003, USA</h4>
        </div>
        <hr>
    <p>
  </div>
</div>
{% endblock  %}