{% extends "design/responsivebase.html" %}

{% block content %}
<div class="row text-center">
    <div class="col-12">
        <p class="lead">Our Premium Products</p>
    </div>
  
</div>
<div class="row text-center">
    <div class="card col-12 col-md-6 col-lg-3">
    <img class="card-img-top" src="/static/img/ssd.jpg" alt="Card image cap" height="250">
    <div class="card-body">
        <h5 class="card-title"><b>Samsung 970 EVO Plus 250GB</b></h5>
        <p class="card-text">(PCIe NVMe M.2 (2280) Internal Solid State Drive (SSD) (MZ-V7S250))<br>Price:₹ 4,953.00 </p>
        <a href="https://www.amazon.in/Samsung-Internal-Solid-State-MZ-V7S250BW/dp/B07MHXYL6T/" class="btn btn-primary">Buy now</a>
    </div>
    </div>
    <div class="card col-12 col-md-6 col-lg-3">
    <img class="card-img-top" src="/static/img/ssd1.jpg" alt="Card image cap" height="250">
    <div class="card-body">
        <h5 class="card-title"><b>Seagate Barracuda Q5 500 GB Internal SSD</b></h5>
        <p class="card-text">(M.2 NVMe PCIe Gen3 ×4, 3D QLC for Desktop or Laptop, 1-Year Rescue Services (ZP500CV3A001))<br> Price:₹ 5,099.00</p>
        <a href="https://www.amazon.in/Seagate-Barracuda-500-GB-Internal-SSD/dp/B08LB86XJW/" class="btn btn-primary">Buy now</a>
    </div>
    </div>
    <div class="card col-12 col-md-6 col-lg-3">
    <img class="card-img-top" src="/static/img/rtx.jpg" alt="Card image cap" height="250">
    <div class="card-body">
        <h5 class="card-title"><b>Gigabyte GeForce RTX 2080 Super Gaming OC</b></h5>
        <p class="card-text">(8G Graphics Card, 3X WINDFORCE Fans, 8GB 256-Bit GDDR6, GV-N208SGAMING OC-8GC Video Card)<br>Price:₹ 79,900.00</p>
        <a href="https://www.amazon.in/Gigabyte-Graphics-WINDFORCE-GV-N208SGAMING-OC-8GC/dp/B07V5HFNFY/" class="btn btn-primary">Buy now</a>
    </div>
    </div>
    <div class="card col-12 col-md-6 col-lg-3">
    <img class="card-img-top" src="/static/img/rtx1.jpg" alt="Card image cap" height="250">
    <div class="card-body">
        <h5 class="card-title"><b>GIGABYTE Nvidia GeForce RTX™ 3060 Ti Gaming OC</b></h5>
        <p class="card-text">(8GB GDDR6 Graphics Card ( GV-N306TGAMING OC-8GD))<br>Price:₹ 49,499.00</p>
        <a href="https://www.amazon.in/GIGABYTE-GeForce-Graphics-GV-N306TGAMING-OC-8GD/dp/B08NW2X37Z/" class="btn btn-primary">Buy now</a>
    </div>
    </div>
    <div class="card col-12 col-md-6 col-lg-3">
    <img class="card-img-top" src="/static/img/i7.jpg" alt="Card image cap" height="250">
    <div class="card-body">
        <h5 class="card-title"><b>Intel Core i7-10700K Desktop Processor</b></h5>
        <p class="card-text"> (8 Cores up to 5.1 GHz Unlocked  LGA1200 (Intel 400 Series chipset) 125W)<br>Price:₹ 35,650.00</p>
        <a href="https://www.amazon.in/Intel-i7-10700K-Desktop-Processor-Unlocked/dp/B086ML4XSB/" class="btn btn-primary">Buy now</a>
    </div>
    </div>
    <div class="card col-12 col-md-6 col-lg-3">
    <img class="card-img-top" src="/static/img/r7.jpg" alt="Card image cap" height="250">
    <div class="card-body">
        <h5 class="card-title"><b>AMD Ryzen 7 3700X Desktop Processor </b></h5>
        <p class="card-text">(8 Cores up to 4.4GHz 36MB Cache AM4 Socket (100-100000071BOX))<br>Price:	₹ 31,249.00</p>
        <a href="https://www.amazon.in/AMD-Ryzen-3700X-Processor-100000071BOX/dp/B07SXMZLPK/" class="btn btn-primary">Buy now</a>
    </div>
    </div>
    <div class="card col-12 col-md-6 col-lg-3">
    <img class="card-img-top" src="/static/img/ram.jpg" alt="Card image cap" height="200">
    <div class="card-body">
        <h5 class="card-title"><b>Ballistix Crucial RGB 3000 MHz DDR4 DRAM Desktop Gaming</b></h5>
        <p class="card-text">(Memory Kit 16GB (8GBx2) CL15 BL2K8G30C15U4BL (Black))<br>Price:₹ 7,245.00 </p>
        <a href="https://www.amazon.in/Ballistix-Crucial-Desktop-Gaming-BL2K8G30C15U4BL/dp/B083VMW862/" class="btn btn-primary">Buy now</a>
    </div>
    </div>
    <div class="card col-12 col-md-6 col-lg-3">
    <img class="card-img-top" src="/static/img/ram1.jpg" alt="Card image cap" height="250">
    <div class="card-body">
        <h5 class="card-title"><b>G.SKILL Trident Z RGB 16GB (2 * 8GB)</b></h5>
        <p class="card-text"> (DDR4 3200 MHz CL16-18-18-38 1.35V Desktop Memory RAM - F4-3200C16D-16GTZR)<br>Price:₹ 10,500.00</p>
        <a href="https://www.amazon.in/G-SKILL-Trident-Memory-Module-3200Mhz/dp/B01MTDEYHU/" class="btn btn-primary">Buy now</a>
    </div>
    </div>
    <div class="card col-12 col-md-6 col-lg-3">
    <img class="card-img-top" src="/static/img/smps.jpg" alt="Card image cap" height="250">
    <div class="card-body">
        <h5 class="card-title"><b>Ant Esports VS500L</b></h5>
        <p class="card-text"> (Power Supply)<br>Price:₹ 1,925.00</p>
        <a href="https://www.amazon.in/Ant-Esports-VS500L-Power-Supply/dp/B08D6HKTH3/" class="btn btn-primary">Buy now</a>
    </div>
    </div>
    <div class="card col-12 col-md-6 col-lg-3">
    <img class="card-img-top" src="/static/img/smps1.jpg" alt="Card image cap" height="250">
    <div class="card-body">
        <h5 class="card-title"><b>Corsair CV450</b></h5>
        <p class="card-text"> (CV Series, 80 Plus Bronze Certified, 450 Watt Non-Modular Power Supply - Black)<br>Price:₹ 3,341.00</p>
        <a href="https://www.amazon.in/Corsair-Bronze-Certified-Non-Modular-Supply/dp/B07YVVXYFN/" class="btn btn-primary">Buy now</a>
    </div>
    </div>
    <div class="card col-12 col-md-6 col-lg-3">
    <img class="card-img-top" src="/static/img/1tb.jpg" alt="Card image cap" height="250">
    <div class="card-body">
        <h5 class="card-title"><b>Seagate Barracuda 1 TB Internal Hard Drive HDD </b></h5>
        <p class="card-text"> (2.5 Inch SATA 6 Gb/s 5400 RPM 128 MB Cache for PC Laptop (ST1000LM048))<br>Price:₹ 3,899.00 </p>
        <a href="https://www.amazon.in/Seagate-Laptop-2-5-Inch-Internal-ST1000LM048/dp/B01LY3Q201/" class="btn btn-primary">Buy now</a>
    </div>
    </div>
    <div class="card col-12 col-md-6 col-lg-3">
    <img class="card-img-top" src="/static/img/2tb.jpg" alt="Card image cap" height="250">
    <div class="card-body">
        <h5 class="card-title"><b>Seagate 2TB Laptop HDD SATA</b></h5>
        <p class="card-text"> (6GB/s 128MB Cache 2.5-Inch 7mm Thinnest Internal Hard Drive ST2000LM015)<br>Price:₹ 7,645.00 </p>
        <a href="https://www.amazon.in/Seagate-2-5-Inch-Thinnest-Internal-ST2000LM015/dp/B01LXRWWB6/" class="btn btn-primary">Buy now</a>
    </div>
    </div>
</div>
{% endblock  %}